<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Xeory Extension</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
  </head>
  <body>
  <%# ヘッダー %>
    <header class="xeory_header">
      <%= link_to "Xeory Extension", fifth_content_tops_path, class: :xeory_logo %>
      <div class="xeory_nav_area">
        <ul>
            <li>記事ページサンプル</li>
            <li>Extensionをダウンロード</li>
        </ul>
      </div>
    </header>
  <%# ヘッダー %>

  <%# ヘッダー下の説明 %>
  <div class="xeory_header_bottom_area">
    <h2>Xeory Extension</h2>
    <p>Xeory Extensionはワンコラムのサイト型テーマです。ユーザーに対して重要なコンテンツを効率的に届けられるようにデザインされています。５種類のカラーバリエーションを用意しています。</p>
  </div>
  <%# ヘッダー下の説明 %>

  <%# メイン %>
  <div class="xeory_main_area">

    <%# コンテンツ同士の隙間 %>
      <div class="xeory_gap"></div>
    <%# コンテンツ同士の隙間 %>

    <%# 人気のある記事 %>
    <section class="popular_articles_area">
      <div class="popular_articles">
        <h2>人気のある記事</h2>
      </div>
      <div class="xeory_wrap">
          <div class="xeory_popular_contents">
            <article class="xeory_popular_content">
              <%= link_to image_tag("under.png", class: :xeory_popular_img), fifth_content_tops_path %>
              <p>カテゴリー#1</p>
              <h3>テスト投稿</h3>
            </article>
            <article class="xeory_popular_content">
              <%= link_to image_tag("under.png", class: :xeory_popular_img), fifth_content_tops_path %>
              <p>カテゴリー#1</p>
              <h3>テスト投稿</h3>
            </article>
            <article class="xeory_popular_content">
              <%= link_to image_tag("under.png", class: :xeory_popular_img), fifth_content_tops_path %>
              <p>カテゴリー#1</p>
              <h3>テスト投稿</h3>
            </article>
            <article class="xeory_popular_content">
              <%= link_to image_tag("under.png", class: :xeory_popular_img), fifth_content_tops_path %>
              <p>カテゴリー#1</p>
              <h3>テスト投稿</h3>
            </article>
            <article class="xeory_popular_content">
              <%= link_to image_tag("under.png", class: :xeory_popular_img), fifth_content_tops_path %>
              <p>カテゴリー#1</p>
              <h3>テスト投稿</h3>
            </article>
          </div>
      </div>
    <section>
    <%# 人気のある記事 %>

    <%# コンテンツ同士の隙間 %>
      <div class="xeory_gap"></div>
    <%# コンテンツ同士の隙間 %>

    <%# 最近の投稿 %>
    <section class="popular_articles_area">
      <div class="popular_articles">
        <h2>最近の投稿</h2>
      </div>
      <div class="xeory_wrap">
          <div class="xeory_popular_contents">
            <article class="xeory_popular_content">
              <%= link_to image_tag("under.png", class: :xeory_popular_img), fifth_content_tops_path %>
              <p>カテゴリー#1</p>
              <h3>テスト投稿</h3>
            </article>
            <article class="xeory_popular_content">
              <%= link_to image_tag("under.png", class: :xeory_popular_img), fifth_content_tops_path %>
              <p>カテゴリー#1</p>
              <h3>テスト投稿</h3>
            </article>
            <article class="xeory_popular_content">
              <%= link_to image_tag("under.png", class: :xeory_popular_img), fifth_content_tops_path %>
              <p>カテゴリー#1</p>
              <h3>テスト投稿</h3>
            </article>
            <article class="xeory_popular_content">
              <%= link_to image_tag("under.png", class: :xeory_popular_img), fifth_content_tops_path %>
              <p>カテゴリー#1</p>
              <h3>テスト投稿</h3>
            </article>
            <article class="xeory_popular_content">
              <%= link_to image_tag("under.png", class: :xeory_popular_img), fifth_content_tops_path %>
              <p>カテゴリー#1</p>
              <h3>テスト投稿</h3>
            </article>
          </div>
      </div>
    </section>
    <%# 最近の投稿 %>

    <%# コンテンツ同士の隙間 %>
      <div class="xeory_gap"></div>
    <%# コンテンツ同士の隙間 %>

    <%# 特徴 %>
      <section class="xeory_feature_area">
        <div class="xeory_feature_header">
          <i class="fas fa-check"></i>
          <h2>XeoryExtensionの特徴</h2>
          <p>feature</p>
        </div>
        <section class="xeory_feature_main_area">
          <div class="xeory_feature_wrap">
            <div class="xeory_feature_box">
              <div class="xeory_feature_inner">
                <div class="xeory_feature_title">
                  <p class="xeory_feature_number">1</p>
                  <h3 class="xeory_feature_ttl">モバイルレスポンシブ</h3>
                  <p class="xeory_feature_english">Mobile Responsive</p>
                  <p>Xeory Extensionはレスポンシブデザインを採用しています。スマートフォンやタブレットなど各種デバイスで表示が最適化されます。</p>
                  <p class="xeory_feature_btn">詳しく見る</p>
                </div>
              </div>
              <div>
                <%= image_tag("under.png", class: :xeory_feature_right_img) %>
              </div>
            </div>
          </div>
        </section>

        <section class="xeory_feature_main_area2">
          <div class="xeory_feature_wrap">
            <div class="xeory_feature_box">
              <div>
                <%= image_tag("under.png", class: :xeory_feature_left_img) %>
              </div>
              <div class="xeory_feature_inner2">
                <div class="xeory_feature_title">
                  <p class="xeory_feature_number">2</p>
                  <h3 class="xeory_feature_ttl">HTML5デザイン</h3>
                  <p class="xeory_feature_english">HTML5 Design</p>
                  <p>Xeory Extensionは最新のHTML5言語でデザイン及びコーディングがなされています。時代遅れのソースからは卒業しましょう。</p>
                  <p class="xeory_feature_btn">詳しく見る</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="xeory_feature_main_area">
          <div class="xeory_feature_wrap">
            <div class="xeory_feature_box">
              <div class="xeory_feature_inner">
                <div class="xeory_feature_title">
                  <p class="xeory_feature_number">3</p>
                  <h3 class="xeory_feature_ttl">SEO最適化</h3>
                  <p class="xeory_feature_english">Search Engine Optimized</p>
                  <p>Xeory ExtensionはGoogleのSEOガイドラインに可能な限り沿った構造になっています。必要なのは良質なコンテンツだけです。</p>
                  <p class="xeory_feature_btn">詳しく見る</p>
                </div>
              </div>
              <div>
                <%= image_tag("under.png", class: :xeory_feature_right_img) %>
              </div>
            </div>
          </div>
        </section>
      </section>
    <%# 特徴 %>
  
  </div>
  <%# メイン %>

  </body>
</html>