<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>front end app</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  </head>
  <body>

  <%# メイン %>

    <%# 隙間 %>
      <div class="area_gap"></div>
    <%# 隙間 %>
    
    <%# About %>
      <div class="about_area" id="scroll1">
        <div class="area_title anime_up anime_op">
          About
        </div>
        <div class="content anime_up anime_op">
          <%= image_tag("pc2.png", class: :about_image) %>
          <div class="about_description">
            <p class="description_title">フロント作品紹介アプリ</p>
            <p>ー概要ー<br>フロント練習した時の作品を紹介する為のアプリ。</p>
            <p>ー言語ー<br>HTML5/CSS3/Javascript/jQuery/など</p>
          </div>
        </div>
      </div>
    <%# About %>

    <%# 隙間 %>
      <div class="area_gap"></div>
    <%# 隙間 %>

    <%# Works %>
      <div class="about_area" id="scroll2">
        <div class="works_area anime_up anime_op">
          <div class="container">
            <div class="area_title">
              Works
            </div>
            <div class="body_home">
              <ul class="list_feature">
                <li class="anime_up anime_op">
                  <%= image_tag 'https://i.gyazo.com/ba3b0349cc3bfc6abe7d1d39b29586e8.gif', size: '300x200' %>
                  <p class="ttl"><%= link_to "FLOWER", first_content_tops_path, class: :function_list %></p>
                  <p class="description">FLOWERのサイトを模写しました。<br>自分以外の方の作品を模写することによって、今まで自分が開発で使わなかった知識も知ることができ、スキルアップにつなげることが出来ました。</p>
                </li>
                <li class="anime_up anime_op">
                  <%= image_tag 'https://i.gyazo.com/48e9d946367bba0beebd8cbc03c796fb.gif', size: '300x200' %>
                  <p class="ttl"><%= link_to "My Work", second_content_tops_path, class: :function_list %></p>
                  <p class="description">My workのサイトを模写しました。<br>この模写をする上で気をつけたポイントは、質の高いHTMLとCSSの記述をしたことです。その為Sassの記述方法も学び、活用しました。</p>
                </li>
                <li class="anime_up anime_op">
                  <%= image_tag 'https://i.gyazo.com/2186d181ed25260260962cefaecae73e.gif', size: '300x200' %>
                  <p class="ttl"><%= link_to "PAS-POL", third_content_tops_path, class: :function_list %></p>
                  <p class="description">PAS-POLのサイトを模写しました。<br>cssによって今まで行った事のない表現方法などを学びました。またデザインの基本四原則についても学び、模写しながら身につけました。</p>
                </li>
              </ul>

              <%# 隙間 %>
                <div class="index_content_gap"></div>
              <%# 隙間 %>

              <ul class="list_feature">
                <li class="anime_up anime_op">
                  <%= image_tag 'white.png', size: '300x200' %>
                  <p class="ttl"><%= link_to "Mag88", fourth_content_tops_path, class: :function_list %></p>
                  <p class="description">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテ</p>
                </li>
                <li class="anime_up anime_op">
                  <%= image_tag 'white.png', size: '300x200' %>
                  <p class="ttl"><%= link_to "テキスト", root_path, class: :function_list %></p>
                  <p class="description">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテ</p>
                </li>
                <li class="anime_up anime_op">
                  <%= image_tag 'white.png', size: '300x200' %>
                  <p class="ttl"><%= link_to "テキスト", root_path, class: :function_list %></p>
                  <p class="description">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテ</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <%# Works %>

    <%# 隙間 %>
      <div class="area_gap"></div>
    <%# 隙間 %>

  <%# メイン %>

  </body>
</html>