<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
  </head>
  <body>

  <%# ヘッダー %>
    <header id="blog_header">
      <div class="blog_site_title blog_wrapper">
        <%= link_to "Travel Blog", six_content_tops_path, class: :blog_logo %>
      </div>
      <nav id="blog_navi">
        <ul class="blog_wrapper">
          <li><%= link_to "NEW", six_content_tops_path, class: :blog_header_btn %></li>
          <li><%= link_to "COLUMN", six_content_tops_path, class: :blog_header_btn %></li>
          <li><%= link_to "SELIES", six_content_tops_path, class: :blog_header_btn %></li>
          <li><%= link_to "Q&A", six_content_tops_path, class: :blog_header_btn %></li>
          <li><%= link_to "CONTACT", six_content_tops_path, class: :blog_header_btn %></li>
        </ul>
      </nav>
    </header>
  <%# ヘッダー %>

  <%# メイン %>
    <div class="blog_main">
      <%# ピックアップ %>
        <div id="pickup" class="blog_wrapper">
          <article>
            <%= image_tag("blog_1.png") %>
            <h2 class="article-title">タイトルテキストテキストテキストテキストテキストテキストテキスト</h2>
            <div class="readmore">
              <%= link_to "READ MORE ", six_content_tops_path, class: :blog_header_btn %>
            </div>
          </article>
          <article>
            <%= image_tag("blog_2.png") %>
            <h2 class="article-title">タイトルテキストテキストテキストテキストテキストテキストテキスト</h2>
            <div class="readmore">
              <%= link_to "READ MORE ", six_content_tops_path, class: :blog_header_btn %>
            </div>
          </article>
          <article>
            <%= image_tag("blog_3.png") %>
            <h2 class="article-title">タイトルテキストテキストテキストテキストテキストテキストテキスト</h2>
            <div class="readmore">
              <%= link_to "READ MORE", six_content_tops_path, class: :blog_header_btn %>
            </div>
          </article>
        </div>
      <%# ピックアップ %>

      <%# メインコンテンツ %>
      <div id="blog_container" class="blog_wrapper">
        <main>
          <article>
            <h2 class="article-title">
              <b><%= link_to "タイトルテキストテキストテキストテキストテキスト", six_content_tops_path %></b>
            </h2>
            <ul class="blog_meta">
              <li><%= link_to "2020/01/01", six_content_tops_path %></li>
              <li><%= link_to "カテゴリ1", six_content_tops_path %></li>
            </ul>
            <%= link_to image_tag("blog_1.png"), six_content_tops_path %>
            <p class="text">本文テキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <div class="readmore">
              <%= link_to "READ MORE", six_content_tops_path %>
            </div>
          </article>
          <article>
            <h2 class="article-title">
              <b><%= link_to "タイトルテキストテキストテキストテキストテキスト", six_content_tops_path %></b>
            </h2>
            <ul class="blog_meta">
              <li><%= link_to "2020/01/01", six_content_tops_path %></li>
              <li><%= link_to "カテゴリ2", six_content_tops_path %></li>
            </ul>
            <%= link_to image_tag("blog_2.png"), six_content_tops_path %>
            <p class="text">本文テキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <div class="readmore">
              <%= link_to "READ MORE", six_content_tops_path %>
            </div>
          </article>
          <article>
            <h2 class="article-title">
              <b><%= link_to "タイトルテキストテキストテキストテキストテキスト", six_content_tops_path %></b>
            </h2>
            <ul class="blog_meta">
              <li><%= link_to "2020/01/01", six_content_tops_path %></li>
              <li><%= link_to "カテゴリ3", six_content_tops_path %></li>
            </ul>
            <%= link_to image_tag("blog_3.png"), six_content_tops_path %>
            <p class="text">本文テキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <div class="readmore">
              <%= link_to "READ MORE", six_content_tops_path %>
            </div>
          </article>
        </main>

        <%# サイドコンテンツ %>
        <aside id="sidebar">

          <%# プロフィール %>
            <section class="author">
              <%= image_tag("blog_3.png") %>
              <h3>Name Name</h3>
              <p class="profile">プロフィールテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            </section>
          <%# プロフィール %>

          <%# ランキング %>
            <section class="ranking">
              <article>
                <h3 class="side_title">Ranking</h3>
                <%= link_to image_tag("blog_a_1.png"), six_content_tops_path %>
                <h4 class="article_title">タイトルテキストテキストテキストテキストテキストテキスト</h4>
              </article>
              <article>
                <%= link_to image_tag("blog_a_2.png"), six_content_tops_path %>
                <h4 class="article_title">タイトルテキストテキストテキストテキストテキストテキスト</h4>
              </article>
              <article>
                <%= link_to image_tag("blog_a_3.png"), six_content_tops_path %>
                <h4 class="article_title">タイトルテキストテキストテキストテキストテキストテキスト</h4>
              </article>
            </section>
          <%# ランキング %>

        </aside>
      <%# サイドコンテンツ %>

      </div>
      <%# メインコンテンツ %>

    </div>
  <%# メイン %>
  </body>
</html>