<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PAS-POL</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
  </head>
  <body>

  <%# 背景画像 %>
    <div class="p_img mainvisual" style="background-image: url('<%= asset_path('red.png') %>')");>
  <%# 背景画像 %>

  <%# ヘッダー %>
    <header class="paspol_header">
      <div class="paspol_logo">
        <h1>PAS-POL</h1>
        <h2>旅のものづくりブランド</h2>
      </div>
      <nav>
        <ul>
          <li><%= link_to "TOP", third_content_tops_path %></li>
          <li><%= link_to "PRODUCT", third_content_tops_path %></li>
          <li><%= link_to "ABOUT", third_content_tops_path %></li>
          <li><%= link_to "NEWS", third_content_tops_path %></li>
          <li><%= link_to "CONTACT", third_content_tops_path %></li>
        </ul>
      </nav>
    </header>
  </div>
  <%# ヘッダー %>

  <%# 旅に出よう %>
    <section>
      <div class="journey_area">
        <h1>旅に出よう。</h1>
        <div class="journey_description">
          <p>
            僕たちが作りたいのは
            <br>
            持っているだけで旅に出たくなるモノ。
            <br>
            持っているだけでわくわくするモノ。
          </p>
          <p>
            それは新しい時代の “パスポート”
            <br>
            僕たちが作るものは、
            <br>
            そんな、存在でありたい。
          </p>
          <p>
            そして、人と人が繋がる
            <br>
            こんな時代だからこそ、
            <br>
            僕たちは、みんなでひとつのモノを
            <br>
            作ることを追求したい。
          </p>
          <p class="description_site_logo">
            <b>「 PAS-POL 」</b>
            <p>
              それは、自分と世界を繋げる
              <br>
              旅のモノづくりブランド
            </p>
          </p>
        </div>
      </div>
    </section>
  <%# 旅に出よう %>

  <%# PRODUCT %>
    <section>
      <div class="pas_pol_area_product">
        <div class="pas_pol_container">
          <div class="pas_pol_top">
            <h1>PRODUCT</h1>
            <%= link_to "MORE", third_content_tops_path, class: :more_btn %>
          </div>
          <div class="product_main">
            <div class="product_card">
              <%= image_tag 'product.png', class: :product_img %>
              <p><b>地球一周 365日 世界遺産絶景の旅</b></p>
            </div>
            <div class="product_card">
              <%= image_tag 'product.png', class: :product_img %>
              <p><b>365日 京都絶景の旅</b></p>
            </div>
            <div class="product_card">
              <%= image_tag 'product.png', class: :product_img %>
              <p><b>365日 北海道 絶景日めくりカレンダー</b></p>
            </div>
          </div>
          <div class="product_main">
            <div class="product_card">
              <%= image_tag 'product2.png', class: :product_img %>
              <p><b>365日 北海道 絶景の旅</b></p>
            </div>
            <div class="product_card">
              <%= image_tag 'product2.png', class: :product_img %>
              <p><b>海外の音楽フェス完全ガイド</b></p>
            </div>
            <div class="product_card">
              <%= image_tag 'product2.png', class: :product_img %>
              <p><b>この世界で死ぬまでにしたいこと2000</b></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  <%# PRODUCT %>

  <%# NEWS %>
    <section>
      <div class="pas_pol_area_news">
        <div class="pas_pol_container">
          <div class="pas_pol_top">
            <h1>NEWS</h1>
            <%= link_to "MORE", third_content_tops_path, class: :more_btn %>
          </div>
          <div class="news_main_parent">
            <div class="news_main">
              <%= image_tag 'blue.png', class: :pas_pol_news_img %>
              <div class="pas_pol_news_p">
                <h2 class="pas_pol_news_p_ttl">
                  【セール情報あり】PAS-POLオンラインショップ<br>閉店のお知らせ
                </h2>
                <p class="pas_pol_news_p_data">
                  2021.9.15
                </p>
                <p class="pas_pol_news_p_description">
                  テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキステキストテキストテキストテキストテ
                </p>
              </div>
            </div>
            <div class="news_main">
              <%= image_tag 'green.png', class: :pas_pol_news_img %>
              <div class="pas_pol_news_p">
                <h2 class="pas_pol_news_p_ttl">
                  【募集期間延長】人気絶景ポストカード制作中！<br>日本の「夏」の絶景を大募集します
                </h2>
                <p class="pas_pol_news_p_data">
                  2021.9.15
                </p>
                <p class="pas_pol_news_p_description">
                  テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキステキストテキストテキストテキストテ
                </p>
              </div>
            </div>
            <div class="news_main">
              <%= image_tag 'red.png', class: :pas_pol_news_img %>
              <div class="pas_pol_news_p">
                <h2 class="pas_pol_news_p_ttl">
                  【募集期間延長】人気の絶景ポストカードの製作が再スタート！日本の「春」の絶景を大募集します
                </h2>
                <p class="pas_pol_news_p_data">
                  2021.9.15
                </p>
                <p class="pas_pol_news_p_description">
                  テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキステキストテキストテキストテキストテ
                </p>
              </div>
            </div>
            <div class="news_main">
              <%= image_tag 'blue.png', class: :pas_pol_news_img %>
              <div class="pas_pol_news_p">
                <h2 class="pas_pol_news_p_ttl">
                  信念を新たな気持ちで迎える！PAS-POLより人気<br>商品が詰まった「選べる」福袋の発売がスタート
                </h2>
                <p class="pas_pol_news_p_data">
                  2021.9.15
                </p>
                <p class="pas_pol_news_p_description">
                  テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキステキストテキストテキストテキストテ
                </p>
              </div>
            </div>
            <div class="news_main">
              <%= image_tag 'green.png', class: :pas_pol_news_img %>
              <div class="pas_pol_news_p">
                <h2 class="pas_pol_news_p_ttl">
                  【10/7募集箇所更新】世界遺産フォトグラファーとつくる『365日世界遺産絶景の旅』。不足場所の「旅人の声」を募集中！
                </h2>
                <p class="pas_pol_news_p_data">
                  2021.9.15
                </p>
                <p class="pas_pol_news_p_description">
                  テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキステキストテキストテキストテキストテ
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <%# NEWS %>

  </body>
</html>